body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        font-family: 'Open Sans', sans-serif;
        color: #333;
        background: #f8f8f8;
        height: auto;
    }

    .logo {
        display:block;
        top : 20px
    }
    /*----------SEARCH-STYLE----------*/

    .search-wrap{
        position: absolute;
        top: 25px;
        width: 90%;
    }

    .search {
    width: 100%;
    position: relative;
    display: flex;
    top: -9px;
    }

    .searchTerm {
    width: 100%;
    border: 3px solid #1f4596;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: darkblue;
    }

    .searchTerm:focus{
    color: black;
    }

    .clearButton {
    width: 55px;
    height: 36px;
    border: 1px solid #1f4596;
    background: #1f4596;
    text-align: left;
    color: #f6f6f6;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 6px 18px;
    vertical-align: baseline;
    }

    .selectionButton {
        height: 36px;
        border: 1px solid #90ea84;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
    }
    /*----------CARD-STYLE----------*/

    .parent-div {
        display: flex;
        flex-direction: column;
        padding-top: 300px

    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 350px;
        background:#f6f6f6;
        color: currentColor;
        text-decoration: none;
        overflow: hidden;
        transition-property: color;
        transition-delay: 0.15s;
        box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    }
    .card.hover {
        color: #f6f6f6;
        transition-delay: 0;
    }
    .card, .card__image, .card__image::after, .card__author, .card__body, .card__foot, .card__border {
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
    }
    .card__head {
        position: relative;
        padding-top: 50%;
    }
    .card__author {
        position: absolute;
        padding: 0.5em 2em 2em 2em;
        left: -24px;
        top: 0;
        color: #f6f6f6;
        transition-property: transform;
        transition-delay: 0.15s;
    }
    .card.hover .card__author {
        transition-delay: 0;
    }
    .card__image {
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
        bottom: 18px;
        background-size: cover;
        background-position: inherit;
        transform-origin: top center;
        transition-property: transform;
        transition-delay: 0.15s;
        width: 100%;
    }
    .card__image::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background: linear-gradient(30deg, rgba(26, 42, 99, .85), rgba(26, 42, 99, .5));
        transition-property: opacity;
        transition-delay: 0.15s;
    }
    .card.hover .card__image {
        transition-delay: 0;
    }
    .card.hover .card__image::after {
        opacity: 1;
        transition-delay: 0;
    }
    .card__body {
        position: relative;
        transition-property: transform;
        transition-delay: 0.15s;
    }
    .card.hover .card__body {
        transition-delay: 0;
    }
    .card__headline {
        font-weight: 400;
        margin: 0 0 0.8em;
    }
    .card__text {
        line-height: 1.5;
        margin: 0;
        opacity: 0.8;
    }
    .card__foot {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 2em 2em;
        opacity: 0;
        transition-property: opacity;
    }
    .card.hover .card__foot {
        opacity: 1;
        transition-delay: 0.15s;
    }
    .card__link {
        color: currentColor;
        text-decoration: none;
        border-bottom: 2px solid #b5272d;
    }
    .card__border {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #b5272d;
        transform: scaleY(0);
        transition-property: transform;
    }
    .card.hover .card__border {
        transform: none;
        transition-delay: 0.15s;
    }
    .author {
        display: flex;
        align-items: center;
    }
    .author__image {
        flex-shrink: 0;
        margin-right: 1em;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        overflow: hidden;
    }
    .author__content {
        font-size: 1.0em;
        text-align: left;
    }
    .author__header {
        margin: 0;
        font-weight: 600;
    }
    .author__subheader {
        margin: 0;
        opacity: 0.8;
        font-weight: 600;
    }


    .image-box{
        height: 200px;
        width: 50px;

    }

    .results{
        position: relative;
    }

    /* From uiverse.io by @bhaveshxrawat */
    button {
        background-color: #f6f6f6;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: .25px;
        line-height: normal;
        padding: 11px 24px;
        transition: background box-shadow 280ms ease;
    }
    
    button:hover {
        background: #f6f6f6;
        color: grey;
    }
    
    button:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
        border: 2px solid #4285f4;
    }
    .footerbuttons{
            position: fixed;
            background-color:#ffff;
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
            align-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.7), -2px -2px 4px rgba(64, 64, 63, 0.5);
          }
    .footerImage{
            width: 38px;
            height: 38px;
            background-size: cover;
          }